<!DOCTYPE html>
<html lang="ru-Ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Модная одежда Бишкек Кыргызстан интернет магазин">
   <meta name="keywords" content="Интернет магазин №1 в Кыргызстане.Одежда, обувь и акцессуары для мужчин женщин и детей.Лучшие брэнды и прямые поставки!Летняя зимняя одежда для женщин мужчин детей платья, блузки, брюки, шорты, обувь ">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <script src="https://kit.fontawesome.com/6fa67fa122.js" crossorigin="anonymous"></script>
  
    

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
